.container {
  flex-wrap: wrap;
}

.container_4 {
  display: flex;
  justify-content: space-evenly;
}

.top1 {
  width: 30px;
  height: 40px;
  margin-left: 12px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 25%;
  background-color: rgb(255, 255, 255);
}

.bottom1 {
  height: 190px;
  width: 60px;
  border: 3px solid black;
  border-radius: 15%;
  background-color: rgb(255, 255, 255);
}

.top2 {
  width: 30px;
  height: 40px;
  margin-left: 12px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 25%;
  background-color: #ffffff;
}

.bottom2 {
  height: 190px;
  width: 60px;
  border: 3px solid black;
  border-radius: 15%;
  /* background-color: rgb(18, 121, 180); */
  background: linear-gradient(#ffffff 60%, #1279b4 60%);
}

.top3 {
  width: 30px;
  height: 40px;
  margin-left: 12px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 25%;
  background-color: rgb(255, 255, 255);
}

.bottom3 {
  height: 190px;
  width: 60px;
  border: 3px solid black;
  border-radius: 15%;
  background: linear-gradient(#ffffff 30%, #1279b4 30%);
}

.top4 {
  width: 30px;
  height: 40px;
  margin-left: 12px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 25%;
  background-color: rgb(255, 255, 255);
}

.bottom4 {
  height: 190px;
  width: 60px;
  border: 3px solid black;
  border-radius: 15%;
  background-color: rgb(18, 121, 180);
}

.top5 {
  width: 30px;
  height: 40px;
  margin-left: 12px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 25%;
  background-color: rgb(18, 121, 180);
}

.bottom5 {
  height: 190px;
  width: 60px;
  border: 3px solid black;
  border-radius: 15%;
  background-color: rgb(18, 121, 180);
}
